
.path-container {
  margin: 1vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.path {
  list-style-type: none;
  padding: 1vw;
  margin: 3vh;
  border: solid white 1px;
}

.path li:last-child {
  display: none;
}

.page-link {
  color: black;
  text-decoration: none;
}

.page-link:hover {
  color: #d5a6bd;
}

.popup-box {
  display: none;
  width: 100%;
}

.page-link:hover + .popup-box, .popup-box:hover {
  display: block;
  position: relative;
  z-index: 100;
}

.try-section {
  display: flex;
  justify-content: space-around;
  border: lightgrey 1px solid;
}

.try-child {
  margin: 0;
  height: 80vh;
  width: 50vw;
}
