.active {
  width: 80vw;
  margin: 0 auto;
}

.active > div > input {
  border: 3px solid rgba(0, 0, 0, 0.7);
  padding: 1vw;
  margin: 0 3vw;
  text-align: center;
  font-size: 1em;
  background-color: whitesmoke;
}

.button {
  margin: 1vw;
  padding: 0.7vh 1.2vw;
  margin: 2vh;
  font-weight: bold;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  background-color: #EEC2BF;
  color: black;
  border: 3px solid black;
  text-shadow: .5px .5px rgba(0,0,0,0.5);
  box-shadow: 2px 2px black;
  font-size: 1em;
}
.button:hover {
  background: none;
  background-color: #EEC2BF;
}

.inactive {
  display: none;
}
