body {
  text-align: center;
  color: #dddddd;
  background-color: #666666;
}

.App-header {
  padding: 20px;
  color: #d5a6bd;
}

.App-title {
  font-size: 2em;
}

.App > p {
  width: 80vw;
  text-align: center;
  margin: 0 auto 1vw;
}
